.container{
	color:white;
	background-color:grey;
	border-radius: 10px;
	text-align: center;
}

.card{
	width:25px;
	height:25px;
}
#card1{
	margin: 25px;

}

#card2{
	margin: 25px;
}

#card3{
	margin: 25px;
}

#card4{
	margin: 25px;
}
