.container{
	background-size: contain;
	text-align: center;
}

.card{
	margin-top: 25px;
	height:165px;
	background-image: url("/img/CardBack.jpg");
	background-repeat: no-repeat;
	background-color: white;
	background-size: cover;
	border-radius:20px;
	font-family: 'Bungee Outline', cursive;
	font-family: 'Frijole', cursive;
	width: 100%;
	padding-top: 140%;
}

.cont{

}

body{
	background-image: url("/img/card.jpg");
}

.start{
	position: fixed;
	left:653px;
	top:300px;
	width:130px;
	height:70px;
	font-size: 20px;
	border-radius: 20px;
	text-align: center;

	
}