.container{
	background-size: contain;
	text-align: center;
	position: relative;
}

.card{
	margin-top: 25px;
	height:165px;
	background-image: url("/img/CardBack.jpg");
	background-repeat: no-repeat;
	background-color: white;
	background-size: cover;
	border-radius:20px;
	font-family: 'Bungee Outline', cursive;
	font-family: 'Frijole', cursive;
	width: 100%;
	padding-top: 140%;
}

.cont{

}

body{
	background-image: url("/img/card.jpg");
}
@media screen and (min-width: 1200px) {
	.start{
		position: absolute;
		bottom: 465px;
		left:260px;
	}
}
@media screen and (min-width:990px) and (max-width: 1199px)
{
	.start{
		position:absolute;
		bottom: 370px;
		left:220px;
	}
}
@media screen and (min-width:770px) and (max-width: 989px)
{
	.start{
		position:absolute;
		bottom:670px;
		left:245px;
	}
}

/*@media screen and (max-width: 1056px) and (min-width: 507px) {
	.start{
		position: relative;
		left:250px;
		top:-525px;
		width:230px;
		height:100px;
		font-size: 20px;
		border-radius: 20px;
		text-align: center;
	}
}
@media screen and (max-width: 1056px) and (min-width: 507px) {
	.start{
		position: relative;
		left:250px;
		top:-525px;
		width:230px;
		height:100px;
		font-size: 20px;
		border-radius: 20px;
		text-align: center;
	}
}

/*.start{
	position: relative;
	left:250px;
	top:-525px;
	width:230px;
	height:100px;
	font-size: 20px;
	border-radius: 20px;
	text-align: center;


	
}*/

#winningMessage{
	display: none;
}

/*media query for start button*/
@media screen and (max-width: 700px) {
	.btn.btn-lg.btn-danger.start{
		width: 200px;
		margin-top: 20px;
		clear:left;
		
	}
}